@import "variables";
@import "mixins";

.canvas {
  height: 100vh;

  @include flex($align: center, $just: center);
}

.button {
  margin-top: $title;
}

canvas {
  border: calc(#{$box-shadow-size} / 4) solid black;
  background-color: $white-color;
}