@import "variables";
@import "mixins";

.tool-bar {
  height: $toolbar-height;
  background-color: $white-color;
  position: absolute;
  width: 100%;
  box-shadow: 0 $box-shadow-size $box-shadow-size $grey-color;
  z-index: $z-index-999;

  @include flex($align: center);

  &__btn {
    height: $h2;
    width: $h2;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: $title;
  }

  .brush {
    background: url("../assets/images/brush.svg") no-repeat center center;
  }

  .rect {
    background: url("../assets/images/rect.svg") no-repeat center center;
  }

  .circle {
    background: url("../assets/images/circle.svg") no-repeat center center;
  }

  .eraser {
    background: url("../assets/images/eraser.svg") no-repeat center center;
  }

  .line {
    background: url("../assets/images/line.svg") no-repeat center center;
  }

  .rainbow-rect {
    background: url("../assets/images/rainbow-rect.svg") no-repeat center center;
  }

  .undo {
    margin-left: auto;
    background: url("../assets/images/undo.svg") no-repeat center center;
  }

  .redo {
    background: url("../assets/images/redo.svg") no-repeat center center;
  }

  .save {
    margin-right: $title;
    background: url("../assets/images/save.svg") no-repeat center center;
  }
}

.setting-bar {
  height: $toolbar-height;
  background-color: $white-color;
  position: absolute;
  width: 100%;
  box-shadow: 0 $box-shadow-size $box-shadow-size $grey-color;
  top: $toolbar-height;

  @include flex($align: center)
}