$background-color: #F6F6F6;
$white-color: #fff;
$grey-color: #808080;

$toolbar-height: 2.5rem; //40px
$h2: 1.625rem; // 26px
$title: .625rem; // 10px
$box-shadow-size: .25rem; //4px

$z-index-999: 999;